.containe .navbar-brand {
  font-size: 30px;
}
.containe .menu {
  display: flex;
}
.containe .left {
  width: 30%;

  text-align: center;
}
.containe .right {
  width: 70%;
}
.img_capstone {
  width: 200px;
  height: 150px;
}
.containe {
  width: 80%;
  margin: auto;
}
